<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Histórico</title>
    <link rel="stylesheet" href="{{ static_url('css/style.css') }}?v=1">
</head>
<body>

    <!-- MENU -->
    <nav class="menu">
        <h1>Sistema de Clientes</h1>
    </nav>

    <main class="container">

        <a href="/listar_cliente" class="btn">← Voltar para Clientes</a>

        <section class="card">
            <h2>Histórico de Ações</h2>

            <table>
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Tabela</th>
                        <th>Operação</th>
                        <th>Descrição</th>
                    </tr>
                </thead>

                <tbody>
                    {% for id, tabela, operacao, data_hora, descricao in logs %}
                    <tr>
                        <td>{{ data_hora }}</td>
                        <td>{{ tabela }}</td>
                        <td>
                            <span class="acao {{ operacao|lower }}">
                                {{ operacao }}
                            </span>
                        </td>
                        <td>{{ descricao }}</td>
                    </tr>
                    {% end %}
                </tbody>
            </table>

        </section>

    </main>

</body>
</html>