<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ static_url('css/login.css') }}?v=1.0">


</head>
<body>
    <div class="login-card">
        <h2>Login</h2>

    <form method="post">
        <input type="text" name="usuario" placeholder="Usuário" required><br><br>
        <input type="password" name="senha" placeholder="Senha" required><br><br>
        <button type="submit">Entrar</button>
    </form>
    </div>
</body>
</html>