<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Histórico</title>
    <link rel="stylesheet" href="{{ static_url('css/style.css') }}?v=3.0">
</head>
<body>

<header class="app-header">
    📜 Histórico de Alterações
</header>

<div class="container">

    <div class="topo-clientes">
        <a href="/listar_cliente" class="btn-inicio">← Voltar</a>
    </div>

    <div class="card">
        <h2>Registros do Sistema</h2>

        {% if logs %}
        <table class="tabela-historico">
            <thead>
                <tr>
                    <th>Data / Hora</th>
                    <th>Tabela</th>
                    <th>Ação</th>
                    <th>Descrição</th>
                </tr>
            </thead>

            <tbody>
                {% for id, tabela, operacao, operacao_css, data_hora, descricao in logs %}
                <tr>
                    <td>{{ data_hora }}</td>
                    <td>{{ tabela }}</td>
                    <td>
                        <span class="badge {{ operacao_css }}">
                            {{ operacao }}
                        </span>
                    </td>
                    <td>{{ descricao }}</td>
                </tr>
                {% end %}

            </tbody>
        </table>
        {% else %}
            <p class="msg-vazia">Nenhuma ação registrada.</p>
        {% end %}

    </div>

</div>

</body>
</html>
